<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="modal fade" id="firstModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Отправка формы</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Добрый день.
                                <br>Ваша форма успешно отправилась на сервер. Спасибо.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>

            <form (ngSubmit)="onSubmit(f); f.reset()" novalidate #f="ngForm">

                <div class="form-group">

                    <div class="col-md-12">
                        <label>
                    <span>Имя</span>
                    <input minlength="2" #firstName="ngModel" required ngModel class="input-fixed form-control" type="text" name="firstName" placeholder="Имя">
                    <div *ngIf="firstName.errors?.required && firstName.touched" class="alert alert-danger">
                        Имя должно быть заполненно
                    </div>
                    <div *ngIf="firstName.errors?.minlength && firstName.touched" class="alert alert-danger">
                        Имя должно состоять не менее 2 символов
                    </div>
                </label>
                    </div>

                    <div class="col-md-12">
                        <label>
                    <span>Фамилия</span>
                    <input minlength="2" #secondName="ngModel" required ngModel class="input-fixed form-control" type="text" name="secondName" placeholder="Фамилия">
                    <div *ngIf="secondName.errors?.required && secondName.touched" class="alert alert-danger">
                        Фамилия должно быть заполненно
                    </div>
                    <div *ngIf="secondName.errors?.minlength && secondName.touched" class="alert alert-danger">
                        Фамилия должно состоять не менее 2 символов
                    </div>
                </label>
                    </div>

                    <div class="col-md-12">
                        <label>
                    <span>Почта</span>
                    <input pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" minlength="2" #emailAdress="ngModel" required ngModel class="input-fixed form-control" type="email" name="emailAdress" placeholder="Почта">
                    <div *ngIf="emailAdress.errors?.required && emailAdress.touched" class="alert alert-danger">
                        Email поле должно быть заполненно
                    </div>
                    <div *ngIf="emailAdress.errors?.minlength && emailAdress.touched" class="alert alert-danger">
                        Email поле должно состоять не менее чем из 2 символов
                    </div>
                    <div *ngIf="emailAdress.errors?.pattern && emailAdress.touched" class="col-6 alert alert-danger">
                        Не валидный email, убедитесь, что в нем есть символ '@' и доменная зона. Например 'mail.ru', 'hotmail.com'
                    </div>
                </label>
                    </div>

                    <div class="col-md-12">
                        <label>
                    <span>Номер телефона</span>
                    <input [textMask]="{mask: mask}" pattern="^7\([0-9]{3}\) [0-9]{3}-[0-9]{4}$" minlength="2" #telephone="ngModel" required ngModel class="input-fixed form-control" type="text" name="telephone" placeholder="Номер телефона">
                    <div *ngIf="telephone.errors?.required && telephone.touched" class="alert alert-danger">
                        Телефон должно быть заполненно
                    </div>
                    <div *ngIf="telephone.errors?.minlength && telephone.touched" class="alert alert-danger">
                        Телефон должно состоять не менее 2 символов
                    </div>
                    <div *ngIf="telephone.errors?.pattern && telephone.touched" class="col-6 alert alert-danger">
                        Не валидный номер телефона, убедитесь, что номер соответствует формату: 7(900) 282-3501
                    </div>
                </label>
                    </div>

                    <div class="col-md-12">
                        <label>
                    <span>Текстовое поле</span>
                    <textarea style="max-width: 459px" minlength="2" #textPole="ngModel" required ngModel class="form-control" rows="10" cols="45" name="textPole"></textarea>
                    <div *ngIf="textPole.errors?.required && textPole.touched" class="alert alert-danger">
                        Текстовое поле должно быть заполненно
                    </div>
                    <div *ngIf="textPole.errors?.minlength && textPole.touched" class="alert alert-danger">
                        Текстовое поле должно содержать не менее 2 символов
                    </div>
                </label>
                    </div>

                    <button data-toggle="modal" data-target="#firstModal" [disabled]="f.invalid" class="btn btn-primary" type="submit">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>